h3, h2, p {
  font-family: 'Lora', cursive;
} 

#header-nav {
  border-radius: 0;
  border: 0;
  z-index: 1;
  background-color: gray;
}

#nav-list {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-brand h1 {
  /* Restaurant name */
  font-family: 'Lora', cursive;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.container-fluid {
  background-color: gray;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  li {
    background-color: gray;
  }
  #our-menu {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 40px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  li {
    background-color: gray;
  }
  #our-menu {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 40px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  li {
    visibility: hidden;
  }

  #our-menu {
    margin-left: 47px;
    margin-right: 47px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  li {
    background-color: white;
    border-style: double;
    border-width: 1px;
  }

  #our-menu {
    margin-left: 47px;
    margin-right: 47px;
  }
}

